* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgb(1, 34, 1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 50px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover {
    color: greenyellow;
    text-shadow: 0 0 25px green,
                 0 0 50px green;
    transform: scale(1.1);
}

span {
    color:yellowgreen;
}

.barranaveg a {
    font-size: 30px;
    color: white;
    font-weight: 500;
    margin: 0 70px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.barranaveg a:hover,
.barranaveg a:active {
    color: yellowgreen;
    border-bottom: 3px solid greenyellow;
}

.contato {
    padding: 10px 28px;
    background-color: rgb(234, 255, 216);
    color: black;
    border: 2px solid transparent;
    border-radius: 0;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contato:hover {
    background-color: yellowgreen;
    box-shadow: 0 0 25px rgb(1, 34, 1);
    color: rgb(1, 34, 1);
}

.home {
    width: 100%;
    min-height: 100vh;
    background: rgb(234, 255, 216);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.homeconteudo {
    max-width: 800px;
}

.homeconteudo h3 {
    font-size: 38px;
}

.homeconteudo h1 {
    font-size: 56px;
    line-height: 1.2;
}

.homeconteudo p {
    font-size: 18px;
    margin: 25px 0 30px;
}

.caixabotao {
    width: 345 px;
    display: flex;
    gap: 2em;
}

.botao1 {
    padding: 15px 28px;
    background-color: rgb(1, 34, 1);
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.botao1:hover {
    background-color: rgb(234, 255, 216);
    color: rgb(1, 34, 1);
    border: 2px solid rgb(1, 34, 1);
}
.caixaimg img{
    border-radius: 5%;
    width: 650px;
}

.caixaimgport img {
    position: relative;
    width: 650px;
    box-shadow: 0 0 25px rgb(1, 34, 1),
                0 0 50px rgb(1, 34, 1);
    border-radius: 5%;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: yellowgreen;
}

::-webkit-scrollbar-track {
    background-color: darkgreen;
}

.sobrenos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: rgb(1, 34, 1);
}

.sobrenosimg img {
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px yellowgreen,
                0 0 50px yellowgreen;
    border-radius: 50%;
}

.sobrenosconteudo h2 {
    text-align: left;
    color: white;
    font-size: 38px;
}

.sobrenosconteudo h3 {
    font-size: 56px;
    color: white;
}

.sobrenosconteudo p {
    color: white;
    margin: 2em 0 3em;
}

.contato h2 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.contato form {
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;

}

.contato form .informs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contato form .informs input,
.contato form textarea {
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: white;
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}

.rodape {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgb(1, 34, 1);
}
.rodape .redessociais {
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.rodape .redessociais a{
    font-size: 24px;
    color: white;
    border: 2px solid yellowgreen;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px yellowgreen,
                      0 0 10px yellowgreen;
    transition: 0.3s ease;
}

.rodape .redessociais a:hover {
    transform: scale(1.2)translateY(-10px);
    color: yellowgreen;
    border: 2px solid yellowgreen;
}

.rodape ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.rodape ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.rodape ul li a:hover {
    border-bottom: 3px solid yellowgreen;
}

.rodape ul li {
    display: inline-block;
    padding: 0 15px;
}

.rodape .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}

.portfolio {
    width: 100%;
    min-height: 100vh;
    background: rgb(234, 255, 216);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}